# 배열

```python
def max_of(a):
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum :
            maximum = a[i]
```        

위와 같이 원소의 인덱스를 하나씩 증가하며 해당 인덱스의 원소에 주목한다. 이것을 **스캔(scan)**이라고 한다.

In [9]:
# 시퀀스 원소의 최댓값 출력하기
from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
    """시퀀스형 a 원소의 최댓값을 반환"""
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum:
            maximum = a[i]
    return maximum

if __name__ == '__main__': # [참고1]
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요: '))
    x = [None] * num
    
    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요:'))
    
    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
원소 수를 입력하세요: 3
x[0]값을 입력하세요:1
x[1]값을 입력하세요:4
x[2]값을 입력하세요:2
최댓값은 4입니다.

- Any는 제약이 없는 임의의 자료형이며, Sequence는 시퀀스형을 의미한다.
- Sequence 형에는 리스트형, 바이트 배열형, 문자열형, 튜플형, 바이트열형이 있다.

```def max_of(a: Sequence) -> Any:``` 이것은 건네받은 매개변수 a의 자료형은 Sequence이며 반환값의 자료형은 Any임을 의미한다.

[참고1]
예를 들어 app.py라는 파일이 있을 때 .py를 포함하지 않는 app은 모듈의 이름이다.
- 스크립트 프로그램이 실행될 때 \__name__은 \__main__이 된다.
- 스크립트 프로그램이 임포트될 때 변수 \__name__은 원래의 모듈 이름이 된다.


따라서 해당 프로그램을 직접 실행했을 때는 if문이 true가 되지만, 모듈을 import하여 실행하는 경우에는 false가 된다.

In [8]:
from max import max_of

number = 0
x = []

while True:
    s = input(f'x[{number}]값을 입력하세요: ')
    if s == 'End':
        break
    x.append(int(s))
    number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.') # 이때 스크립트 프로그램이 임포트되었기 때문에 __name__은 max가 되어 if문이 실행되지 않는다.

x[0]값을 입력하세요: 9
x[1]값을 입력하세요: 1
x[2]값을 입력하세요: End
2개를 입력했습니다.
최댓값은 9입니다.

In [7]:
# 원소수, 최댓값, 최솟값은 입력받고 나머지 원소는 난수 생성하는 프로그램

import random
from max import max_of

num = int(input('난수의 개수를 입력하세요: '))
lo = int(input('난수의 최솟값을 입력하세요: '))
hi = int(input('난수의 최댓값을 입력하세요: '))
x = [None] * num

for i in range(num):
    x[i] = random.randint(lo, hi)

print(f'{(x)}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 개수를 입력하세요: 3
난수의 최솟값을 입력하세요: 1
난수의 최댓값을 입력하세요: 9
[8, 5, 4]
이 가운데 최댓값은 8입니다.

In [11]:
from max import max_of

t = (4, 7, 5.6, 2, 3.2, 1)
s = 'string'
a = ['DTS', 'AAC', 'FLAC']

print(f'{t}의 최댓값은 {max_of(t)}')
print(f'{s}의 최댓값은 {max_of(s)}')
print(f'{a}의 최댓값은 {max_of(a)}')

(4, 7, 5.6, 2, 3.2, 1)의 최댓값은 7
string의 최댓값은 t
['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC

### 리스트, 튜플의 대입

리스트를 2개 선언하여 서로 대입해도 원소 자체가 복사되는 것이아니라 참조하는 곳이 복사된다.
<img src="">

따라서 a의 원소값을 바꾸면 b도 같은 객체를 가리키고 있으므로 b의 원소도 변하게 된다.

## 리스트 스캔 예제

* enumerate() 함수 : 인덱스 번호와 컬렉션의 원소를 튜플 형태로 반환한다.<br/>

(ex)
```python
x = ['john', 'george', 'paul', 'ringo']
for e in enumerate(x):
    print(e)
```

결과<br/>
(0, 'john')<br/>
(1, 'george')<br/>
(2, 'paul')<br/>
(3, 'ringo')

In [12]:
# 원소 수를 len() 함수로 미리 알아내서 0에서 원소 수-1까지 반복한다.

x = ['john', 'george', 'paul', 'ringo']

for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = john
x[1] = george
x[2] = paul
x[3] = ringo

In [1]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔

x = ['john', 'george', 'paul', 'ringo']

for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = john
x[1] = george
x[2] = paul
x[3] = ringo

In [15]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔 (1부터 카운트)

x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x, 1):
    print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

## 튜플의 스캔 예제

튜플은 다음과 같이 리스트로 작성한 ```x = []```를 ```x = ()```로 수정하는 것만으로 스캔할 수 있다.
```python
x = ('John', 'George', 'Paul', 'Ringo')
```

- 리스트와 튜플의 역순 스캔
    - ```reversed(x)```
    - ```print(x[::-1])```

In [8]:
x = ('John', 'George', 'Paul', 'Ringo')
print(x[::-1])

('Ringo', 'Paul', 'George', 'John')

## 이터러블
- 이터러블 자료형 객체
    - 문자열
    - 리스트
    - 튜플
    - 집합
    - 딕셔너리
    

- 이터러블 객체를 iter() 내장 함수의 인수로 전달하면 그 객체에 대한 이터레이터를 반환한다.

In [25]:
x = ['John', 'George', 'Paul', 'Ringo']

it = iter(x)
it.__next__() # 또는 next(it)

'John'

In [32]:
# 뮤터블 시퀀스 원소를 역순으로 정렬

from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> Any:
    """뮤터블 시퀀스 a의 원소를 역순으로 정렬"""
    n = len(a)
    for i in range(n // 2):
        a[i], a[n - i - 1] = a[n - i - 1], a[i]

if __name__ == '__main__':
    print('배열 원소를 역순으로 정렬합니다.')
    nx = int(input('원소 수를 입력하세요: '))
    x = [None] * nx
    
    for i in range(nx):
        x[i] = int(input(f'x[{i}]값을 입력하세요: '))
        
    reverse_array(x)
    
    print('배열 원소를 역순으로 정렬했습니다.')
    for i in range(nx):
        print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.
원소 수를 입력하세요: 5
x[0]값을 입력하세요: 1
x[1]값을 입력하세요: 3
x[2]값을 입력하세요: 9
x[3]값을 입력하세요: 2
x[4]값을 입력하세요: 4
배열 원소를 역순으로 정렬했습니다.
x[0] = 4
x[1] = 2
x[2] = 9
x[3] = 3
x[4] = 1

### 역순 정렬 함수 reverse()
```python
x = ['John', 'George', 'Paul', 'Ringo']
x.reverse()
```
x를 역순으로 정렬할 수 있다. 하지만 튜플은 이뮤터블 객체이기 때문에 자기 자신을 역순으로 정렬할 수 없다.

reversed(x)는 x의 원소를 역순으로 정렬하는 이터러블 객체를 생성한다. 따라서 리스트 x를 역순으로 정렬하여 y에 대입하려면 다음과 같이 작성할 수 있다.
```python
y = list(reversed(x))
```

In [12]:
x = [1, 2, 3, 4, 5, 6]
print(reversed(x))
print(list(reversed(x)))

y = list(reversed(x))
print(y)

<list_reverseiterator object at 0x106757460>
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]

## 기수 변환 (n진수 구하기) (22.08.03)

In [1]:
# 기수로 변환하는 프로그램

def card_conv(x: int, r: int) -> str:
    """정숫값 x를 r진수로 변환한 뒤 그 수를 나타내는 문자열을 반환"""
    d = ''
    dchar = '0123456789ABCDEFGHIZKLMNOPQRSTUVWXYZ'
    
    while x > 0:
        d += dchar[x % r]
        x //= r
    
    return d[::-1]

card_conv(14, 2)

'1110'

In [ ]:
def my_card_conv(x, r):
    d = ''
    dchar = '0123456789ABCDEFGHIZKLMNOPQRSTUVWXYZ'
    
    while x > 0:
        d += dchar[x % r]
        x /= r
    
    return d[::-1]

In [3]:
# 메인부로 기수 변환을 실행

if __name__ == '__main__':
    print('10진수를 n진수로 변환합니다.')
    
    while True:
        while True:
            no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요: '))
            if no > 0:
                break
        
        while True:
            cd = int(input('어떤 진수로 변환할까요? :'))
            if 2 <= cd <= 36:
                break
        
        print(f'{cd}진수로는 {card_conv(no, cd)}입니다.')
        
        retry = input('한 번 더 변환할까요?')
        if retry in {'N', 'n'}:
            break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요: -1
변환할 값으로 음이 아닌 정수를 입력하세요: 1
어떤 진수로 변환할까요? :2
2진수로는 1입니다.
한 번 더 변환할까요?n

## 함수 - 인수의 복사

파이썬에서는 변수에 값을 대입하는 것이 아닌 변수가 갖는 값의 객체를 참조하는 방식으로 변수를 나타낸다.<br/>
```python
def test(n):
    n -= 1

p = 5
test(p)

print(f'{p}를 넣은 결과는 {test(p)}입니다.') # 결과 : 5를 넣은 결과는 4입니다.
```
따라서 위와 같은 코드가 있을 때 test() 함수의 인자 n은 p가 가리키고 있는 객체를 함께 가리키게 된다. 그런데 이 코드의 결과를 보면 p와 n이 같은 객체를 가리키고 있고, test() 함수에 의해 n의 값이 바뀌었는데도 p의 값은 여전히 5이다. 이것은 int형 객체가 immutable이기 때문이다. 즉, n과 p가 처음에는 같은 객체를 가리키고 있더라도 n이 변경되는 순간 p와는 다른 값을 가진 객체를 가리키게 된다.

따라서 만약 mutable한 객체인 리스트를 인수로 넘겨준다면 해당 인수는 함수에 의해 변경된다.

In [10]:
# 리스트에서 임의의 원솟값을 업데이트하기

def change(lst, idx, val):
    """리스트 lst의 idx번째 값을 val로 업데이트"""
    lst[idx] = val

x = [11, 22, 33, 44]
print('업데이트 전 리스트: ', x)
change(x, 1, 55)

print('업데이트 후 리스트: ', x)

업데이트 전 리스트:  [11, 22, 33, 44]
업데이트 후 리스트:  [11, 55, 33, 44]

## 소수 구하기 프로그램

In [13]:
# 1000이하의 소수 나열하기

counter = 0

for n in range(2, 1001):
    for i in range(2, n):
        counter += 1
        if n % i == 0:
            break
    else:
        print(n)

print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 78022

In [38]:
# 소수 구하기 프로그램 <개선>

lst = []
counter = 0

for i in range(3, 1001, 2):
    for n in lst:
        counter += 1
        if i % n == 0:
            break
    else:
        lst.append(i)

lst.append(2)

print(lst)
print(f'counter 실행 횟수는 {counter}입니다.')

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 2]
counter 실행 횟수는 14622입니다.

In [39]:
# 소수 구하기 프로그램 <개선2>

counter = 0
ptr = 0
prime = [None] * 500

prime[ptr] = 2
ptr += 1

prime[ptr] = 3
ptr += 1

for n in range(5, 1001, 2):
    i = 1
    while prime[i] * prime[i] <= n:
        counter += 2
        if n % prime[i] == 0:
            break
        i += 1
    else:
        prime[ptr] = n
        ptr += 1
        counter += 1

for i in range(ptr):
    print(prime[i])

print(f'곱셈과 나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
곱셈과 나눗셈을 실행한 횟수: 3774

## 리스트의 원소와 복사

파이썬에서 변수명은 객체를 참조할뿐이다.<br/>
따라서 리스트를 복사한다면 복사한 리스트가 복사된 리스트가 가리키는 객체와 같은 객체를 참조하게 되므로 복사한 리스트의 값을 변경할 때 주의해야 한다.

### 얕은 복사 (참조하는 포인터만 복사) : list.copy()

어디를 참고하고 있는지만 복사 (참조하는 곳의 주소만 복사)

In [42]:
x = [[1,2,3],[4,5,6]]
y = x.copy() # x를 y로 얕은 복사
y[0][1] = 8
print(x)
print(y)

[[1, 8, 3], [4, 5, 6]]
[[1, 8, 3], [4, 5, 6]]

### 깊은 복사 (값 복사) : copy.deepcopy(list)

참조하고 있는 객체를 복사 따라서 변수 값을 변경하면 참조하는 객체만 달라질 뿐

In [45]:
import copy

x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x) # x를 y로 깊은 복사
y[0][1] = 8
print(x)
print(y)

[[1, 2, 3], [4, 5, 6]]
[[1, 8, 3], [4, 5, 6]]