# 배열

```python
def max_of(a):
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum :
            maximum = a[i]
```        

위와 같이 원소의 인덱스를 하나씩 증가하며 해당 인덱스의 원소에 주목한다. 이것을 **스캔(scan)**이라고 한다.

In [9]:
# 시퀀스 원소의 최댓값 출력하기
from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
    """시퀀스형 a 원소의 최댓값을 반환"""
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum:
            maximum = a[i]
    return maximum

if __name__ == '__main__': # [참고1]
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요: '))
    x = [None] * num
    
    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요:'))
    
    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
원소 수를 입력하세요: 3
x[0]값을 입력하세요:1
x[1]값을 입력하세요:4
x[2]값을 입력하세요:2
최댓값은 4입니다.

- Any는 제약이 없는 임의의 자료형이며, Sequence는 시퀀스형을 의미한다.
- Sequence 형에는 리스트형, 바이트 배열형, 문자열형, 튜플형, 바이트열형이 있다.

```def max_of(a: Sequence) -> Any:``` 이것은 건네받은 매개변수 a의 자료형은 Sequence이며 반환값의 자료형은 Any임을 의미한다.

[참고1]
예를 들어 app.py라는 파일이 있을 때 .py를 포함하지 않는 app은 모듈의 이름이다.
- 스크립트 프로그램이 실행될 때 __name__은 '__main__'이 된다.
- 스크립트 프로그램이 임포트될 때 변수 __name__은 원래의 모듈 이름이 된다.


따라서 해당 프로그램을 직접 실행했을 때는 if문이 true가 되지만, 모듈을 import하여 실행하는 경우에는 false가 된다.

In [8]:
from max import max_of

number = 0
x = []

while True:
    s = input(f'x[{number}]값을 입력하세요: ')
    if s == 'End':
        break
    x.append(int(s))
    number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.') # 이때 스크립트 프로그램이 임포트되었기 때문에 __name__은 max가 되어 if문이 실행되지 않는다.

x[0]값을 입력하세요: 9
x[1]값을 입력하세요: 1
x[2]값을 입력하세요: End
2개를 입력했습니다.
최댓값은 9입니다.

In [7]:
# 원소수, 최댓값, 최솟값은 입력받고 나머지 원소는 난수 생성하는 프로그램

import random
from max import max_of

num = int(input('난수의 개수를 입력하세요: '))
lo = int(input('난수의 최솟값을 입력하세요: '))
hi = int(input('난수의 최댓값을 입력하세요: '))
x = [None] * num

for i in range(num):
    x[i] = random.randint(lo, hi)

print(f'{(x)}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 개수를 입력하세요: 3
난수의 최솟값을 입력하세요: 1
난수의 최댓값을 입력하세요: 9
[8, 5, 4]
이 가운데 최댓값은 8입니다.

In [11]:
from max import max_of

t = (4, 7, 5.6, 2, 3.2, 1)
s = 'string'
a = ['DTS', 'AAC', 'FLAC']

print(f'{t}의 최댓값은 {max_of(t)}')
print(f'{s}의 최댓값은 {max_of(s)}')
print(f'{a}의 최댓값은 {max_of(a)}')

(4, 7, 5.6, 2, 3.2, 1)의 최댓값은 7
string의 최댓값은 t
['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC

### 리스트, 튜플의 대입

리스트를 2개 선언하여 서로 대입해도 원소 자체가 복사되는 것이아니라 참조하는 곳이 복사된다.
<img src="">

따라서 a의 원소값을 바꾸면 b도 같은 객체를 가리키고 있으므로 b의 원소도 변하게 된다.

## 리스트 스캔 예제

* enumerate() 함수 : 인덱스 번호와 컬렉션의 원소를 튜플 형태로 반환한다.
(ex)
```python
x = ['john', 'george', 'paul', 'ringo']
for e in enumerate(x):
    print(e)
```

결과<br/>
(0, 'john')<br/>
(1, 'george')<br/>
(2, 'paul')<br/>
(3, 'ringo')

In [12]:
# 원소 수를 len() 함수로 미리 알아내서 0에서 원소 수-1까지 반복한다.

x = ['john', 'george', 'paul', 'ringo']

for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = john
x[1] = george
x[2] = paul
x[3] = ringo

In [13]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔

x = ['john', 'george', 'paul', 'ringo']

for i, name in enumerate(x):
    print(f'x[{i}] = {x[i]}')

x[0] = john
x[1] = george
x[2] = paul
x[3] = ringo

In [15]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔 (1부터 카운트)

x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x, 1):
    print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

## 튜플의 스캔 예제

튜플은 다음과 같이 리스트로 작성한 ```x = []```를 ```x = ()```로 수정하는 것만으로 스캔할 수 있다.
```python
x = ('John', 'George', 'Paul', 'Ringo')
```

- 리스트와 튜플의 역순 스캔
    - ```reversed(x)```
    - ```x[::-1]```

## 이터러블
- 이터러블 자료형 객체
    - 문자열
    - 리스트
    - 튜플
    - 집합
    - 딕셔너리
    

- 이터러블 객체를 iter() 내장 함수의 인수로 전달하면 그 객체에 대한 이터레이터를 반환한다.

In [25]:
x = ['John', 'George', 'Paul', 'Ringo']

it = iter(x)
it.__next__() # 또는 next(it)

'John'

In [32]:
# 뮤터블 시퀀스 원소를 역순으로 정렬

from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> Any:
    """뮤터블 시퀀스 a의 원소를 역순으로 정렬"""
    n = len(a)
    for i in range(n // 2):
        a[i], a[n - i - 1] = a[n - i - 1], a[i]

if __name__ == '__main__':
    print('배열 원소를 역순으로 정렬합니다.')
    nx = int(input('원소 수를 입력하세요: '))
    x = [None] * nx
    
    for i in range(nx):
        x[i] = int(input(f'x[{i}]값을 입력하세요: '))
        
    reverse_array(x)
    
    print('배열 원소를 역순으로 정렬했습니다.')
    for i in range(nx):
        print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.
원소 수를 입력하세요: 5
x[0]값을 입력하세요: 1
x[1]값을 입력하세요: 3
x[2]값을 입력하세요: 9
x[3]값을 입력하세요: 2
x[4]값을 입력하세요: 4
배열 원소를 역순으로 정렬했습니다.
x[0] = 4
x[1] = 2
x[2] = 9
x[3] = 3
x[4] = 1

### 역순 정렬 함수 reverse()
```python
x = ['John', 'George', 'Paul', 'Ringo']
x.reverse()
```
x를 역순으로 정렬할 수 있다. 하지만 튜플은 이뮤터블 객체이기 때문에 자기 자신을 역순으로 정렬할 수 없다.

reversed(x)는 x의 원소를 역순으로 정렬하는 이터러블 객체를 생성한다. 따라서 리스트 x를 역순으로 정렬하여 y에 대입하려면 다음과 같이 작성할 수 있다.
```python
y = list(reversed(x))
```